.a-uploader, .a-uploader * , .a-input-group{-webkit-box-sizing: border-box;box-sizing: border-box;}

.center{text-align:center}
.left{text-align:left}
.right{text-align:right}
.flex{display:flex;}
.ai-c{align-items:center;}
.jc-c{justify-content:center;}
.flex-center{display:flex; align-items: center; justify-content: center}
.flex-column{display:flex;flex-direction:column}
*[role="button"]{cursor: pointer}
*[role="button"]:disabled{cursor: not-allowed}
.ar{text-align:right}
.al{text-align:left}
.sb{display:flex;justify-content: space-between;align-items: center}
.flex-1{flex: 1000 10 auto !important}
.a-round{border-radius: 50%;}
.a-container{margin: 0 auto;}
@media (min-width: 1200px){
    .a-container {
        width: 1170px;
    }
}
.fw-500{font-weight:500}
.fw-600{font-weight:600}
.fw-700{font-weight:700}
.a-pointer{cursor: pointer}
.a-box-shadow{box-shadow:5px 5px 10px 0px rgb(182 182 182 / 63%)}

:root{
    --white:#fff;

    --p-primary:#437cb5;
    --h-primary:#d0e0fc;
    --t-primary:#0b3d91;
    
    --p-danger:#c7736b;
    --h-danger:#f2dede;
    --t-danger:#a94442;

    --p-waring:#c9a749;
    --h-waring:#fcf8e3;
    --t-waring:#8a6d3b;

    --p-light:#868a8f;
    --h-light:#e9e7e7;
    --t-light:#61605f;

    --p-sucess:#529e4f;
    --h-sucess:#dff0d8;
    --t-sucess:#3c763d;

    --p-info:#62b1b5;
    --h-info:#d9edf7;
    --t-info:#31708f;

    --p-secondary:#a84fb0;
    --h-secondary:#f0d8ff;
    --t-secondary:#6b2498;

    --ivory: #fdf4f1;
    --light-hover-gray:#f7f7f7;
    --light-border-gray:#d8d8d8;
    --medium-border-gray:#c5c4c4;
}

/* ------------------------------------------------ Fancy Buttons ----------------------------------------------------------------------------------- */
.a-btn, .a-btn-sm, .a-btn-xs{transition: background-color 0.3s ease;display:inline-block;vertical-align:middle; margin:0.5em 0; background-color: transparent; border-radius:5px;outline:none ;box-shadow: none; line-height: 1.2 !important; cursor:pointer}
.a-check:disabled + .a-btn, .a-check:disabled + .a-btn-sm,.a-check:disabled + .a-btn-xs, .a-btn:disabled, .a-btn-sm:disabled, .a-btn-xs:disabled{cursor: not-allowed;opacity: .65;box-shadow: none}
.a-btn:focus, .a-btn:active, .a-btn:not(:disabled):hover, .a-btn-sm:focus, .a-btn-sm:active, .a-btn-sm:not(:disabled):hover, .a-btn-xs:focus, .a-btn-xs:active, .a-btn-xs:not(:disabled):hover,
.a-check:checked + .a-btn-sm, .a-check:checked + .a-btn{transition: background-color 0.5s ease;outline:none ;box-shadow: none}
.a-btn{padding: 8px 10px; font-size: 14px}
.a-btn-sm{padding: 6px 8px;font-size: 12px}
.a-btn-xs{padding: 5px 7px; font-size:10px}

.a-primary {border: 1px solid var(--p-primary);color: var(--p-primary)}
.a-primary:focus,.a-primary:active, .a-primary:not(:disabled):hover,.a-check:checked + .a-primary{background-color: var(--p-primary) ;border: 1px solid var(--p-primary);color:var(--white)}
.a-danger {border: 1px solid var(--p-danger);color: var(--p-danger)}
.a-danger:focus,.a-danger:active, .a-danger:not(:disabled):hover,.a-check:checked + .a-danger{background-color: var(--p-danger) ;border: 1px solid var(--p-danger);color:var(--white)}
.a-warning {border: 1px solid var(--p-waring);color: var(--p-waring)}
.a-warning:focus,.a-warning:active, .a-warning:not(:disabled):hover,.a-check:checked + .a-warning{background-color: var(--p-waring) ;border: 1px solid var(--p-waring);color:var(--white)}
.a-light {border: 1px solid var(--p-light);color: var(--p-light)}
.a-light:focus,.a-light:active, .a-light:not(:disabled):hover,.a-check:checked + .a-light{background-color: var(--p-light) ;border: 1px solid var(--p-light);color:var(--white)}
.a-success {border: 1px solid var(--p-sucess);color: var(--p-sucess)}
.a-success:focus,.a-success:active, .a-success:not(:disabled):hover,.a-check:checked + .a-success{background-color: var(--p-sucess) ;border: 1px solid var(--p-sucess);color:var(--white)}
.a-info {border:1px solid var(--p-info);color: var(--p-info)}
.a-info:focus,.a-info:active, .a-info:not(:disabled):hover,.a-check:checked + .a-info{background-color: var(--p-info) ;border: 1px solid var(--p-info);color:var(--white)}
.a-secondary {border: 1px solid var(--p-secondary);color: var(--p-secondary)}
.a-secondary:focus,.a-secondary:active, .a-secondary:not(:disabled):hover,.a-check:checked + .a-secondary{background-color: var(--p-secondary) ;border: 1px solid var(--p-secondary);color:var(--white)}
.a-dark {border: 1px solid var(--t-light);color: var(--t-light)}
.a-dark:focus,.a-dark:active, .a-dark:not(:disabled):hover,.a-check:checked + .a-dark{background-color: var(--t-light) ;border: 1px solid var(--t-light);color:var(--white)}

.a-full-danger,.a-full-danger:hover {border: 1px solid var(--p-danger);color: var(--white);background-color: var(--p-danger);text-decoration:none}
.a-full-warning,.a-full-warning:hover {border: 1px solid var(--p-waring);color: var(--white);background-color: var(--p-waring);text-decoration:none}
.a-full-primary,.a-full-primary:hover {border: 1px solid var(--p-primary);color: var(--white);background-color: var(--p-primary);text-decoration:none}
.a-full-light,.a-full-light:hover {border: 1px solid var(--p-light);color: var(--white);background-color: var(--p-light);text-decoration:none}
.a-full-dark,.a-full-dark:hover {border: 1px solid var(--t-light);color: var(--white);background-color: var(--t-light);text-decoration:none}
.a-full-success,.a-full-success:hover {border: 1px solid var(--p-sucess);color: var(--white);background-color: var(--p-sucess);text-decoration:none}
.a-full-info,.a-full-info:hover {border: 1px solid var(--p-info);color: var(--white);background-color: var(--p-info);text-decoration:none}
.a-full-secondary,.a-full-secondary:hover {border: 1px solid var(--p-secondary);color: var(--white);background-color: var(--p-secondary);text-decoration:none}

.a-half-primary, .a-half-primary:hover{border: 1px solid var(--h-primary);color: var(--t-primary);background-color: var(--h-primary)}
.a-half-light, .a-half-light:hover{border: 1px solid var(--h-light);color: var(--t-light);background-color: var(--h-light);}
.a-half-success, .a-half-success:hover{border: 1px solid var(--h-sucess);color: var(--t-sucess);background-color: var(--h-sucess)}
.a-half-info, .a-half-info:hover{border: 1px solid var(--h-info);color: var(--t-info);background-color: var(--h-info)}
.a-half-secondary, .a-half-secondary:hover{border: 1px solid var(--h-secondary);color: var(--t-secondary);background-color: var(--h-secondary)}
.a-half-warning, .a-half-warning:hover{border: 1px solid var(--h-waring);color: var(--t-waring);background-color: var(--h-waring)}
.a-half-danger, .a-half-danger:hover{border: 1px solid var(--h-danger);color: var(--t-danger);background-color: var(--h-danger)}

.a-link-primary, .a-link-primary:hover{color:var(--t-primary); border:none;}
.a-link-light, .a-link-light:hover{color:var(--t-light); border:none;}
.a-link-success, .a-link-success:hover{color:var(--t-sucess); border:none;}
.a-link-info, .a-link-info:hover{color:var(--t-info); border:none;}
.a-link-secondary, .a-link-secondary:hover{color:var(--t-secondary); border:none;}
.a-link-warning, .a-link-warning:hover{color:var(--t-waring); border:none;}
.a-link-danger, .a-link-danger:hover{color:var(--t-danger); border:none;}

.a-full-success:focus,.a-full-success:active, .a-full-success:not(:disabled):hover,
.a-full-light:focus,.a-full-light:active, .a-full-light:not(:disabled):hover,
.a-full-primary:focus,.a-full-primary:active, .a-full-primary:not(:disabled):hover,
.a-full-warning:focus,.a-full-warning:active, .a-full-warning:not(:disabled):hover,
.a-full-danger:focus,.a-full-danger:active, .a-full-danger:not(:disabled):hover,
.a-full-info:focus,.a-full-info:active, .a-full-info:not(:disabled):hover,
.a-full-secondary:focus,.a-full-secondary:active, .a-full-secondary:not(:disabled):hover{opacity:0.85}

.a-link-primary:hover, .a-link-light:hover, .a-link-success:hover, .a-link-info:hover, .a-link-secondary:hover, .a-link-warning:hover,.a-link-danger:hover{text-decoration:underline}

/* -------------------------------------------------------------- Small Files -------------------------------------------------- */
.a-input-label-file{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;padding: 0 10px;cursor: pointer; padding: 0.5em;
    margin: 0.5em auto 0 auto;display: block;width:95%;}
.a-input-file{width: 0.1px;height: 0.1px;opacity: 0;overflow: hidden;position: absolute;z-index: -1;}
.a-input-file:after{content:"Selectionnez un fichier"}

/* -------------------------------------------------------- Radio List -------------------------------------------------------- */
.a-check {position: absolute;visibility: hidden;display: none}
.a-check + .a-btn::before{font-family: 'Font Awesome 6 Free';font-weight: 500;content: "\f111";margin-right:0.5em; opacity:0.6}
.a-check-iconless + .a-btn::before{content: none}
.a-check:checked + .a-btn::before{content: "\f00c";opacity:1;font-weight: 900}
.a-check-iconless:checked + .a-btn::before{content: none}

.a-check:not(:checked):disabled:hover + .a-danger{border: 1px solid var(--p-danger);color: var(--p-danger); background-color:transparent}
.a-check:not(:checked):disabled:hover + .a-warning{border: 1px solid var(--p-waring);color: var(--p-waring); background-color:transparent}
.a-check:not(:checked):disabled:hover + .a-primary{border: 1px solid var(--p-primary);color: var(--p-primary); background-color:transparent}
.a-check:not(:checked):disabled:hover + .a-light{border: 1px solid var(--p-light);color: var(--p-light); background-color:transparent}
.a-check:not(:checked):disabled:hover + .a-success{border: 1px solid var(--p-sucess);color: var(--p-sucess); background-color:transparent}
.a-check:not(:checked):disabled:hover + .a-secondary{border: 1px solid var(--p-secondary);color: var(--p-secondary); background-color:transparent}
.a-check:not(:checked):disabled:hover + .a-info{border: 1px solid var(--p-info);color: var(--p-info); background-color:transparent}
.a-check:not(:checked):disabled:hover + .a-dark{border: 1px solid var(--t-light);color: var(--t-light); background-color:transparent}

/* ------------------------------------------------------------- GROUPS BUTTONS ---------------------------------------------- */
.a-btn-group{position: relative;display: -ms-inline-flexbox;display: inline-flex;vertical-align: middle;}
.a-btn-group > label:not(:last-child) .a-btn{border-top-right-radius: 0;border-bottom-right-radius: 0;}
.a-btn-group > label:not(:first-child) .a-btn{border-top-left-radius: 0;border-bottom-left-radius: 0;}
.a-btn-group > label:not(:first-child) .a-btn{margin-left: -1px;}

.a-fantom-card{box-shadow: 2px 2px 10px #DADADA;padding: 20px;background-color: var(--white);border-radius: 5px}

/* ------------------------------------------------------------- IMG Round ---------------------------------------------------- */
.a-round-img-xl{border-radius: 50%;width:90px;height: 90px;margin: 0.5em;background-position: center;background-repeat: no-repeat;background-size: cover;}
.a-round-img{border-radius: 50%;width:65px;height: 65px;margin: 0.5em;background-position: center;background-repeat: no-repeat;background-size: cover;}
.a-round-img-sm{border-radius: 50%;width:40px;height: 40px;margin: 0em 0.3em;background-position: center;background-repeat: no-repeat;background-size: cover;display:flex;}

/* -------------------------------------------------------------- Long Files  --------------------------------------------------*/
.a-uploader {clear: both;margin: 0 auto; min-width:400px;min-height:200px; overflow:hidden; display: flex;align-items: center; justify-content: center;}
.a-uploader .file-bloc, .a-uploader label{width: 100%;}
.a-uploader label {float: left;clear: both;padding: 2rem 1.5rem;text-align: center;background: var(--white);border-radius: 7px;border: 4px dashed var(--ivory);
	-webkit-transition: all 0.2s ease;transition: all 0.2s ease;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none}
.a-uploader label:hover {border-color: var(--p-primary)}
.a-uploader .file-start {float: left;clear: both;width: 100%}
.a-uploader .file-start.hidden {display: none}
.a-uploader .file-start i.fa, .a-uploader .file-start i.fas{font-size: 40px;margin-bottom: 1rem;-webkit-transition: all 0.2s ease-in-out;transition: all 0.2s ease-in-out;}
.a-uploader .file-bloc-result {clear: both;width: 100%;margin: 0 auto; text-align:center; padding: 1em}
.a-uploader .file-bloc-result.hidden {display: none}
.a-uploader .file-bloc-result .file-recap {margin-bottom: 0.5rem; text-align:center}
.a-uploader input[type="file"] {display: none}
.a-uploader div {margin: 0 0 0.5rem 0;color: var(--t-light)}

/* ---------------------- Timeline ----------------------------------- */
.a-timeline {position: relative;display: flex;justify-content: space-around;margin-bottom: 1em}
.a-timeline:before {content: '';position: absolute;top: 1.5em;width: 100%;height: 1px;background-color: var(--ivory);z-index: 1}
.a-timeline-step {z-index: 10;display: flex; flex-direction:column; align-items: center; justify-content: center}
.a-timeline-step .timeline-button{border-radius: 50%;padding: 0;width: 2.3em;height: 2.3em; display:flex;align-items: center; justify-content: center;}
.a-timeline-step .timeline-button i{font-size: 0.7em}
.a-timeline-step .a-timeline-label{font-size: 12px;color:var(--p-light);}

/* ---------------------- ALERTS --------------------------------------- */
.a-alert{border: 0;border-radius: .5rem;position: relative;padding: 1.25rem 1.5rem;margin-bottom: 1rem;border: 1px solid transparent}
.a-alert-primary{color: var(--t-primary);background-color: var(--h-primary); border-left: solid 4px var(--t-primary)}
.a-alert-secondary{color: var(--t-secondary);background-color: var(--h-secondary);border-left: solid 4px var(--t-secondary)}
.a-alert-success{color: var(--t-sucess);background-color: var(--h-sucess);border-left: solid 4px var(--t-sucess);}
.a-alert-light{color: var(--t-light);background-color: var(--h-light);border-left: solid 4px var(--t-light)}
.a-alert-dark{color: var(--h-light);background-color: var(--t-light);border-left: solid 4px #2f3030}
.a-alert-warning{color: var(--t-waring);background-color:var(--h-waring);border-left: solid 4px var(--t-waring)}
.a-alert-danger{color: var(--t-danger);background-color:var(--h-danger);border-left: solid 4px var(--t-danger)}
.a-alert-info{color: var(--t-info);background-color:var(--h-info);border-left: solid 4px var(--t-info)}


/* ---------------------- PANELS --------------------------------------- */
.a-panel{margin: 1em 0; width:100%;}
.a-panel-header{color:var(--white); font-size:15px}
.a-panel-header, .a-panel-content{padding: 1em;}
.a-panel, .a-panel-header{border-radius: 5px 5px 0 0}
.a-panel.a-panel-primary .a-panel-header{color: var(--t-primary);background-color: var(--h-primary)}
.a-panel.a-panel-secondary .a-panel-header{color: var(--t-secondary);background-color: var(--h-secondary)}
.a-panel.a-panel-success .a-panel-header{background-color: var(--h-sucess);color: var(--t-sucess)}
.a-panel.a-panel-danger .a-panel-header{background-color: var(--h-danger);color: var(--t-danger)}
.a-panel.a-panel-warning .a-panel-header{background-color: var(--h-waring);color: var(--t-waring)}
.a-panel.a-panel-info .a-panel-header{background-color: var(--h-info);color: var(--t-info)}
.a-panel.a-panel-light .a-panel-header{color: var(--t-light);background-color: var(--h-light)}
.a-panel.a-panel-dark .a-panel-header{color: var(--h-light);background-color: var(--t-light)}
.a-panel-content{border:solid 1px var(--light-border-gray);border-top:none;}

.a-panel-collapsable .a-panel-header{cursor: pointer;display:flex; justify-content: space-between}
.a-panel-collapsable .a-panel-header::after{font-family: 'Font Awesome 6 Free';content: "\f146"; font-weight: 900;opacity:0.6;font-style: normal;display: inline-block;text-decoration: inherit;}
.a-panel-collapsable .a-panel-header.colapsed::after{font-family: 'Font Awesome 6 Free';content: "\f0fe"; font-weight: 900;opacity:0.6;font-style: normal;display: inline-block;text-decoration: inherit;}
.a-panel-footer{padding:1em; border:solid 1px var(--light-border-gray); border-top:none;}

/* ------------------- INPUTS --------------------------------------------- */
.a-form-group label{font-weight:600}
.a-input-group{display:flex;flex-direction:column-reverse; margin-bottom:1.7em; font-family: "Roboto", sans-serif;line-height: unset;position:relative!important;}
.a-input-group label:last-of-type{opacity:0.7;font-size:13px;font-weight:600; padding: 5px 0;}
.a-input-group label i{margin:0 0.5em;}
.a-input:not(:read-only):focus + label:last-of-type, select.a-input:focus + label:last-of-type{color:var(--p-primary); opacity:1;transition: color 0.4s ease;transition: opacity 0.4s ease}
.a-input{overflow: hidden;border:none;border-bottom:solid 1px var(--medium-border-gray);padding:7px;font-size:14px;outline:none;box-shadow: none;color:#2f3030;background-color:transparent;line-height: inherit;}
.a-input, .a-input:focus, .a-input:active{outline:none !important; box-shadow: none !important}
input.a-input:disabled, input.a-input:read-only, select.a-input:disabled{cursor:not-allowed;}
input.a-input:not(:placeholder-shown),select.a-input{font-weight:500}
.a-input:active, .a-input:focus{transition: border-color 0.4s ease; border-color:var(--p-primary);font-weight:500}
.a-input::placeholder, select.a-input:required:invalid {opacity:0.6;font-style: italic}
.a-input:disabled::placeholder, .a-input:read-only::placeholder{opacity:0}
input.a-input:disabled + label, input.a-input:read-only + label, select.a-input:disabled + label{opacity:0.4}
input.a-input:disabled, input.a-input:read-only{border-radius: 5px 5px 0px 0px; border-color:var(--h-light)}
.a-input-group.a-form-error label:last-of-type{color:var(--t-danger);opacity:1}
.a-input-group.a-form-error .a-input{border-color:var(--t-danger)}
.a-input-error-text{color:var(--t-danger);position:absolute;bottom:-15px;font-size:9px;font-weight:normal;right:15px}
.a-input-error-text-with-count{color:var(--t-danger);position:absolute;bottom:20px;font-size:9px;font-weight:normal;right:15px;}
.a-input-load::after{font-family: 'Font Awesome 6 Free';content: "\f2f1"; font-weight: 900;opacity:0.7;right:8px;bottom:8px;font-style: normal;
    position:absolute;display: inline-block;text-decoration: inherit;animation: spinAround 1.1s linear infinite}
@keyframes spinAround {0% {transform: rotate(0deg)}100% {transform: rotate(360deg)}}
.a-borderless{border:none !important}
.a-input-group .a-input-button{position:absolute;right:8px;bottom:8px; opacity:0.7;}
.a-borderfull{border:solid 1px var(--medium-border-gray); border-radius:5px;}
input.a-borderfull:read-only, input.a-borderfull:disabled{background-color:var(--light-hover-gray);}

/* ------------------- TABLES  -----------------------------------------------*/
.a-table{width:100%; margin:1em 0; border-spacing:0;border-collapse: collapse;}
.a-table>tbody>tr>td, .a-table>tbody>tr>th, .a-table>thead>tr>th, .a-table>thead>tr>td{padding: 0.6em 0.8em}
.a-table>tbody>tr{border-bottom: solid 1px var(--light-border-gray)}
.a-table thead{border-bottom:solid 2px var(--medium-border-gray)}
.a-table .a-table-header-dark, .a-table .a-table-header-primary, .a-table .a-table-header-secondary, .a-table .a-table-header-success, .a-table .a-table-header-danger, 
.a-table .a-table-header-warning, .a-table .a-table-header-info, .a-table .a-table-header-light{border-bottom:none;}
.a-thead-center>tr>*, .a-body-center>tr>*{text-align:center}

.a-table-hover > tbody > tr:hover{background-color:var(--light-hover-gray);}
.a-table-stripped > tbody > tr:nth-child(even){background-color:var(--ivory)}
.a-table-delimited  th, .a-table-delimited  td{border:solid 1px var(--light-border-gray)}
.a-table-delimited thead {border:unset;}

.a-table-header-dark tr th{color:var(--white);background-color:var(--t-light)}
.a-table-header-primary > tr > th{color:var(--t-primary);background-color:var(--h-primary)}
.a-table-header-secondary > tr > th{color:var(--t-secondary);background-color:var(--h-secondary)}
.a-table-header-success > tr > th{color:var(--t-sucess);background-color:var(--h-sucess)}
.a-table-header-danger > tr > th{color:var(--t-danger) ;background-color:var(--h-danger)}
.a-table-header-warning > tr > th{color:var(--t-waring);background-color:var(--h-waring)}
.a-table-header-info > tr > th{color:var(--t-info) ;background-color:var(--h-info)}
.a-table-header-light > tr > th{color:var(--t-light);background-color:var(--h-light) }
.a-table th{text-align: left;}

/* ----------------------------------------- ATOM COUNTER ------------------------------------------------------------------- */
.atom-counter{display:flex;align-items: center; justify-content: space-between}
.atom-counter-btn{padding:0.4em 0;font-size: 10px}
.atom-counter-number{padding: 0 0.4em}

/* ----------------------------------------- ATOM TABS ---------------------------------------------------------------------- */
.atom-pan-tab{border:solid 1px var(--light-border-gray);border-radius: 0 0 5px 5px; margin-top:1em}
.atom-pan-tab-header{display:flex;align-items:center; padding:0.2em 0.5em 0 0.5em;}
.atom-pan-tab-header-item{padding:1em 1em 0.6em 0.6em;font-size:14px;}
.atom-pan-tab-header-item:not(.active){color:var(--white);}
.atom-pan-tab-header-item.active{background-color:var(--white);}

/* TODO light and darks*/
.a-tab-info .atom-pan-tab-header-item.active{color:var(--p-info);}
.a-tab-primary .atom-pan-tab-header-item.active{color:var(--p-primary);} 
.a-tab-secondary .atom-pan-tab-header-item.active{color:var(--p-secondary);}
.a-tab-success .atom-pan-tab-header-item.active{color:var(--p-sucess);}
.a-tab-warning .atom-pan-tab-header-item.active{color:var(--p-waring);}
.a-tab-danger .atom-pan-tab-header-item.active{color:var(--p-danger);}
.a-tab-light .atom-pan-tab-header-item.active{color:var(--p-light);}
.a-tab-dark .atom-pan-tab-header-item.active{color:var(--t-light);}

.a-tab-info{background-color:var(--p-info);}
.a-tab-primary{background-color:var(--p-primary);}
.a-tab-secondary{background-color:var(--p-secondary);}
.a-tab-success{background-color:var(--p-sucess);}
.a-tab-warning{background-color:var(--p-waring);}
.a-tab-danger{background-color:var(--p-danger);}
.a-tab-light{background-color:var(--p-light);}
.a-tab-dark{background-color:var(--t-light);}

.atom-pan-tab-header-item:hover{cursor: pointer}
.atom-pan-tab-body{padding: 1em;}
.atom-pan-tab-body div:not(.active){display:none;}

/* ----------------------------------------- COLORS ---------------------------------------------------------------------- */
.a-text-primary{color: var(--t-primary)}
.a-text-secondary{color: var(--t-secondary)}
.a-text-light{color: var(--t-light)}
.a-text-danger{color: var(--t-danger)}
.a-text-warning{color: var(--t-waring)}
.a-text-info{color: var(--t-info)}
.a-text-success{color: var(--t-sucess)}

.a-bg-primary{background-color: var(--p-primary)}
.a-bg-secondary{background-color: var(--p-secondary)}
.a-bg-light{background-color: var(--p-light)}
.a-bg-dark{background-color: var(--t-light)}
.a-bg-danger{background-color: var(--p-danger)}
.a-bg-warning{background-color: var(--p-waring)}
.a-bg-info{background-color: var(--p-info)}
.a-bg-success{color: var(--p-sucess)}

.a-sort{position:relative;}
.a-sort:after{font-family: 'Font Awesome 6 Free';content: "\f0dc"; font-weight: 900;opacity:0.6;position:absolute;right: 10px; top: 10px;display: block;margin:0 0.3em}
.a-hide{display:none;}

/* ----------------------------------------- Placements ---------------------------------------------------------------------- */

.m-2{margin:2em}.m-1{margin:1em}.m-05{margin:0.5em}.m-0{margin:0}
.mv-2{margin:2em 0}.mv-1{margin:1em 0}.mv-05{margin:0.5em 0}
.mh-2{margin: 0 2em}.mh-1{margin: 0 1em}.mh-05{margin: 0 0.5em}
.mt-2{margin-top:2em}.mt-1{margin-top:1em}.mt-05{margin-top:0.5em}.mt-0{margin-top:0}
.ml-2{margin-left:2em}.ml-1{margin-left:1em}.ml-05{margin-left:0.5em}.ml-0{margin-left:0}
.mr-2{margin-right:2em}.mr-1{margin-right:1em}.mr-05{margin-right:0.5em}.mr-0{margin-right:0}
.mb-2{margin-bottom:2em}.mb-1{margin-bottom:1em}.mb-05{margin-bottom:0.5em}.mb-0{margin-bottom:0}

.p-2{padding:2em}.p-1{padding:1em}.p-05{padding:0.5em}.p-0{padding:0}
.pv-2{padding:2em 0}.pv-1{padding:1em 0}.pv-05{padding:0.5em 0}
.ph-2{padding: 0 2em}.ph-1{padding: 0 1em}.ph-05{padding: 0 0.5em}
.pt-2{padding-top:2em}.pt-1{padding-top:1em}.pt-05{padding-top:0.5em}.pt-0{padding-top:0}
.pl-2{padding-left:2em}.pl-1{padding-left:1em}.pl-05{padding-left:0.5em}.pl-0{padding-left:0}
.pr-2{padding-right:2em}.pr-1{padding-right:1em}.pr-05{padding-right:0.5em}.pt-0{padding-right:0}
.pb-2{padding-bottom:2em}.pb-1{padding-bottom:1em}.pb-05{padding-bottom:0.5em}.pb-0{padding-bottom:0}

.w10{width:10%}.w20{width:20%}.w30{width:30%}.w40{width:40%}.w50{width:50%}.w60{width:60%}.w70{width:70%}.w80{width:80%}.w90{width:90%}.w100{width:100%}
.w5{width:5%}.w15{width:15%}.w25{width:25%}.w35{width:35%}.w45{width:45%}.w55{width:55%}.w65{width:65%}.w75{width:75%}.w85{width:85%}.w95{width:95%}
.h10{height:10%}.h20{height:20%}.h30{height:30%}.h40{height:40%}.h50{height:50%}.h60{height:60%}.h70{height:70%}.h80{height:80%}.h90{height:90%}.h100{height:100%}
.h5{height:5%}.h15{height:15%}.h25{height:25%}.h35{height:35%}.h45{height:45%}.h55{height:55%}.h65{height:65%}.h75{height:75%}.h85{height:85%}.h95{height:95%}